.App {
  text-align: center;
}


.App-logo {
  pointer-events: none;
  max-width: 200px;
  padding: 30px 20px;
}

.App-header {
  background-color: #e7eaed;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

h2 {
  font-family: 'Antenna Cond';
}

.App form {
  box-sizing: border-box;
  padding: 10px;
}
.App .form-wrapper {
  text-align: center;
  box-sizing: border-box;
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #dadee0;
  margin-top: 40px;
}

.App .form-wrapper .container {
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}


.App .form-group, .App p {
  text-align: left;
}

 .App p {
  font-size: 13px;
 }

.App .form-group label {
  font-size: 13px;
  font-weight: bold;
}

/*.App h2 {
  text-align: center;
}*/

.App-link {
  color: #61dafb;
}

.submit-btn {
  float:right;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dataTables_wrapper .table tbody tr td:nth-child(7) {
  display: none;
 }
