.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App form {
  box-sizing: border-box;
  padding: 10px;
}
.App .form-wrapper {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}

.App .form-wrapper .container {
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}


.App .form-group, .App p {
  text-align: left;
}

 .App p {
  font-size: 13px;
 }

.App .form-group label {
  font-size: 13px;
  font-weight: bold;
}

/*.App h2 {
  text-align: center;
}*/

.App-link {
  color: #61dafb;
}

.submit-btn {
  float:right;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dataTables_wrapper .table tbody tr td:nth-child(7) {
  display: none;
 }
